name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  freebsd-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: vmactions/freebsd-vm@v1
      with:
        copyback: false
        prepare: |
          pkg install -y webkit2-gtk wget
        run: |
          wget https://ziglang.org/download/0.15.2/zig-x86_64-freebsd-0.15.2.tar.xz
          tar -xvf zig-x86_64-freebsd-0.15.2.tar.xz
          ./zig-x86_64-freebsd-0.15.2/zig build

  linux-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: goto-bus-stop/setup-zig@v2
      with:
        version: 0.15.2
    - name: install packages
      run: sudo apt-get install libgtk-3-dev libwebkit2gtk-4.1-dev
    - run: zig build

  macos-build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - uses: goto-bus-stop/setup-zig@v2
      with:
        version: 0.15.2
    - run: zig build

  windows-build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - uses: goto-bus-stop/setup-zig@v2
      with:
        version: 0.15.2
    - run: zig build
